.modalPaper {
  background-color: transparent !important;  
  box-shadow: none !important;             
  overflow: visible !important;             
}

.modalBackdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;  
  backdrop-filter: blur(2px);                    
  transition: opacity 0.3s ease;                   
}
